<html>
<head>
<title>The best blog in the internet</title>
<style>
#id1 {
    color:#326C28;;
    font-family:'Century Schoolbook',serif; 
    font-size:2em;
    text-align: center;
}

#id2 {
    text-align: center;
}

.centerblock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sowwy {
    width:300px;
    height:350px;
}

body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
    background: #F7D87B;


}
#header {
    padding:10px;
    background: #EF8930;
    text-align: center;
}
#content {
    padding:10px;
    padding-bottom:80px; /* Height of the footer element */
    text-align: center;
}
#footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
    background: #EF8930;
    text-align: center;
    padding: 10px;
}
</style>
</head>
<body>

<div id="container">
    <div id="header">Welcome to the blog</div>
    <div id="content"><%= yield %></div>
    <div id="footer">My Sticky Footer</div>
</div>


</body>
</html>

