<h2>Compose a new post </h2>

<form action="/new" enctype="multipart/form-data" method="POST">
    <h3>Title: <p><textarea rows="1" cols="60" name="title"></textarea></p></h3>
   
    <h3>Post:<p><textarea rows="30" cols="60" name="content"></textarea></p></h3>
    <br/>
    <input style="margin-bottom: 10px;" type="submit" value="Submit Post">
</form>

