   <h1 id="id1">Sowwy...</h1>

<h3 id="id2"> We could not complete the action. Please try again.</h3>

<img
  id="sowwy"
  class="centerblock"
  src="http://3.bp.blogspot.com/_b32SWdkNbSA/TS9cfoV77RI/AAAAAAAADPk/52X2jZe-7bk/s1600/eeyore.gif"
  alt="Sowwy"
/>
   

